.list-item {
  padding: 5px 20px;

  border-radius: 20px;
  background: $primary-color;
  margin: 10px;

  a {
    color: $primary-text;
  }

  &:hover {
    background: $secondary-color;
  }

  p {
    margin: 0;
    font-size: 24px;
    text-align: left;
  }
}
